.app-number-range{
    width: 100%;
    display: flex;
    .app-number-range__separator{
        width: 30px;
        font-size: 33px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ivu-input-number{
        width: 100%;
        input{
            text-align: center;
        }
    }
}
