
.app-common-microcom__radio {
    width: 100%;
    .el-radio {
        min-width: 20%;
        line-height: 32px;
        margin-right: 0;
        .el-radio__inner {
            width: 16px;
            height: 16px;
        }
    }
}
