.app-theme{
    width: auto;
    padding: 0 5px;
    /***    BRGIN:主题选择框样式    ***/
    .app-theme__popper {
        .ivu-form-item {
            margin-bottom: 10px;
        }
    }
    .app-theme-color {
        display: flex;
        .app-theme-item {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }
    /***    END:主题选择框样式   ***/
}