
  .app-file-upload__modal{
    .ivu-modal{
      height: 86%;
      .ivu-modal-content{
        height: 100%;
        overflow-y: scroll;
      }
    }
    .app-file-upload__modal__item{
      margin: 0 8px 8px 0;
      display: inline-block;
      position: relative;
      >div{
        display: inline-block;
        position: relative;
      }
      .item__caption{
        text-align: center;
      }
      .item__action{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        font-size: 20px;
        text-align: center;
        opacity: 0;
        transition: opacity .3s;
        &:hover{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          font-size: 20px;
          text-align: center;
          opacity: 1;
        }
        &::after{
          display: inline-block;
          content: "";
          height: 100%;
          vertical-align: middle;
        }
        .item__action__delete{
          margin-left:15px;
        }
      }
    }
  }
  
.app-file-upload__preview{
  .el-button{
    padding: 8px 15px 8.5px 15px;
  }
  .ivu-badge{
    margin-left: 2px;
    .ivu-badge-count{
      height: auto;
      min-width: auto;
      line-height: unset;
      padding: 0 4px;
    }
}
}