.app-update-password{
    .app-update-password__item{
        margin-top:10px; 
        padding:0 10px 0 10px;
        .ivu-btn{
            margin-top:15px;
        }
    }
    .app-update-password__btn{
        margin-top: 42px;
    }
}