.app-rawitem {
    width: 100%;
    height: 100%;
    .app-rawitem__html {
        width: 100%;
        height: 100%;
    }
    .app-rawitem__image {
       object-fit: contain;
    }
}
.app-rawtime--image {
    .app-rawitem__image {
        height: 100%;
        width: 100%;
    }
}