.app-group-picker{
    width: 100%;
    height: calc(100% - 37px);
    .app-group-picker__content {
        display: flex;
        height: calc(100% - 65px);
        .app-group-picker__content__select-tree {
            min-width: 200px;
            border-right: 1px solid #ddd;
            padding: 0 34px 0 10px;
            overflow: auto;
            height: 100%;
        }
        .app-group-picker__content__card {
            flex-grow: 1;
            padding: 0 10px;
            overflow: auto;
            height: 100%;
        }
    }
    .app-group-picker__footer {
        padding: 16px;
        text-align: right;
        border-top: 1px solid #ddd;
    }
  }