.file-upload-camera2{
    display: flex;
    .camera-select__video-select{
        width:250px;
        .el-input{
            -webkit-padding-after: 0;
            padding-block-end: 0;
        }
    }
    .viedo-source{
        width:600px;
        height: 600px;
    }
    .el-upload{
        display: none;
    }
    .file-upload__camera-container{
        width: 50%;
        .el-select{
            height: 35px;
        }
    }
    .file-upload__img-container{
        margin-left: 50px;
        width: 490px;
        height: 682px;
        overflow: auto;
    }
    .camera-action-container{
        margin-top: 7px;
    }
    .camera-video-container{
        background-color: black;
        width:610px;
        height: 610px;
        padding: 5px;
    }
    
}
.file-upload__dialog-handlepicture{
    overflow: hidden;
    .el-dialog__headerbtn{
        top: 10px;
        right: 10px;
    }
    .el-dialog__body{
        overflow: auto;
        width: 1120px ;
        max-width: 1153px;
        max-height: 715px;
    }
    .el-dialog{
        width: 1153px;
        height: 715px;
    }
}