.app-embed-picker {
    height: 100%;
    .app-embed-picker__value,  .app-embed-picker__placeholder {
        line-height: 32px;
        height: 32px;
    }
    .app-embed-picker__placeholder {
        color: #dcdfe6;
    }
    .view-default.view-container {
        padding: 0;
        .ivu-card {
            > .ivu-card-body {
                padding: 0;
                > .content-container {
                    padding: 0;
                }
            }
        }
    }
}