.app-span{
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;

  .vue-format-single-fill {
    overflow: hidden;
  }

  .app-span--no-textFormat{
    white-space: pre-line;
  }
}

