.app-checkbox-list {
    overflow: auto;
}
.app-checkbox-list.ivu-checkbox-group.ivu-checkbox-large .ivu-checkbox-border, .ivu-checkbox-large.ivu-checkbox-border {
    height: 36px;
    line-height: 33px;
}