.ivu-dropdown-item{
    p {
        height: 100%;
        display: flex;
        align-items: center;

        .el-input {
            width: 62px;
        }
        .item-text {
            margin: 0 8px;
        }
    }
}

.dropdown-item-custom:hover {
    color: inherit;
    background: inherit;
    cursor: initial;
}

.more-dropdown {
    .more-dropdown-content {
        &:hover {
            background-color: #ecf5ff;
            color: #66b1ff;
        }
    
        padding: 4px 16px;
        line-height: 36px;
    
        i {
            margin-right: 6px;
        }
    }
    
    .ivu-select-dropdown {
        width: 270px;
        top: 90px;
        left: -270px;
        p {
            height: auto;
            line-height: 36px;
            color: inherit;
        }
    }
}