.app-simpleflex-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.app-simpleflex-container__pos-container{
    .app-simpleflex-container__item{
        display: flex;
        >div{
            width: 100%;
        }
    }
}