.app-date-range {
  .el-date-editor {
    width: 100%;
    height: 100%;
    .el-range-separator {
      display: flex;
      align-items: center;
      width: 6%;
    }
  } 
}
.app-date-range-popper {
  .el-picker-panel__footer {
    .el-button--text {
      border-color: transparent;
      color: #409eff;
      background: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
