.app-full-scren{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
}
.ivu-icon-ios-expand{
    font-weight: bolder;
}
.ivu-icon-ios-contract{
    font-weight: bolder;
}