.app-portal-design{
    width:100%;
    height: 100%;
    .app-portal-design__btn {
        margin-top: -6px;
        >button{
            margin-left: 6px;
        }
    }
    .ivu-card-body {
        height: calc(100% - 51px);
        .app-portal-design__container {
            height: 100%;
        }
    }
}