.tox-statusbar__text-container {
    display: none;
}
.app-rich-text-editor,.app-rich-text-editor-0,.app-rich-text-editor-100 {
    width: 100%;
    .tox-fullscreen {
        height: 100%;
        transform: translateX(100%);
    }
    .tox-blocker {
        transform: translateX(100%);
    }
}
.app-rich-text-editor-200 {
    width: 100%;
    .tox-fullscreen {
        height: 100%;
        transform: translateX(200%);
    }
    .tox-blocker {
        transform: translateX(200%);
    }
}
.tox-menu {
    min-width: 300px;
}
.is-disabled{
     opacity: 0.7;
}