.app-range-date {
    display: flex;
    min-width: 493px;
    .app-range-date__caption{
        padding: 0 10px;
        font-size: 15px;
    }
    .app-range-date__editor-separator {
        padding: 0 10px;
        font-size: 15px;
        min-width: 108px;
    }
    .ivu-date-picker {
        flex-grow: 1;
    }
}