.app-progress {
  min-height: 36px;
  display: flex;
  align-items: center;
  .el-progress--line {
    width: 100%;
    .el-progress-bar {
      padding-right: 0;
      margin-top: -4px;
    }
    .el-progress__text {
      position: absolute;
      right: 0;
      top: 16px;
    }
  }
}
