.app-cascader {
    width: 100%;
    .app-cascader__default,
    .app-cascader__tree {
        width: 100%;
    }
}
.app-cascader__tree__dropdown {
    padding: 12px 0 6px;
    .el-input {
        padding: 0 10px;
    }
    .el-tree {
        padding: 10px 0;
        max-height: 200px;
        overflow: auto;
    }
}