.app-mavon-editor {
    border-width: 0 ;
    .v-note-panel {
        td, th {
            border-color: #666 ;
        }
        pre, .highlight pre {
            color: #333;
        }
        h1, h2, h3, h4, h5, h6 {
            border-color: #666;
        }
        .v-show-content-html {
            border-left: 1px solid #666;
        }
    }
    .v-note-op {
        border-width: 0 ;
    }
    .v-left-item {
        .op-icon-divider {
            border-color: #666;
        }
    }
    .op-icon.dropdown-wrapper.dropdown .popup-dropdown {
        .dropdown-item:hover {
            background: transparent;
        }
    }
    &.v-note-wrapper{
        border-color: #c7cbd1;
    }
}
.app-mavon-editor.markdown-body {
    z-index: auto;
}