.view-header__right__quicksearch {
    .ivu-btn {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: -1px;
        box-shadow: none;
        .ivu-icon-ios-funnel {
            font-size: 14px;
        }
        &.is-hidden {
            width: 0;
            visibility: hidden;
        }
    }
}
.app-quick-search {
    max-width: 400px;
    &.is-filter {
        .ivu-input {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}