.codelist {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    .codelist-item{
        max-height: 32px;
        > img{
            max-height: 32px;
            width: auto;
            margin-right: 6px;
            border-radius: 50%;
        }
    }
  }