.cron-editor__transfer-select{
    .ivu-select-dropdown {
        padding: 0px;
        overflow: inherit;
        .hidden {
            display: none;
        }
        .vue-cron{
            min-width: 100%;
        }
    }
  }
  