#image-upload{
    // el-dialog头部
    .el-dialog__header {
        height: 40px;
    }

    // el-dialog面板
    .el-dialog__wrapper {
        height: 90vh;
        overflow: visible;
    }

    // el-dialog
    .el-dialog {
        height: 76vh;
    }

    // el-dailog内容
    .el-dialog__body {
        height: inherit;
    }

    // iframe
    #fileIframe {
        height: calc(100% - 40px);
    }

    .preview-dialog-img{
        width: 100%;
    }
}
    