.dropdown-list-mpicker {
  .ivu-select-multiple .ivu-select-item-selected:after {
    display: none;
  }

  .dropdown-list-mpicker__tree,.dropdown-list-mpicker__cascader {
    width: 100%;
    .el-input__inner {
      height: 32px;
      line-height: 32px;
    }

    .el-input__icon {
      line-height: 32px;
    }
  }
  .el-cascader{
    line-height: 35px;
  }
}