.dropdown-list__select{
    display: inline-block;
}

.dropdown-list__tree,.dropdown-list__cascader{
    width: 100%;
    .el-input__inner{
        height: 32px;
        line-height: 32px;
    }
    .el-input__icon{
        line-height: 32px;
    }
    .ivu-dropdown {
        .ivu-select-dropdown {
            overflow: auto;
            max-height: 200px;
        }
    }
}

.dropdown-list__cascader.el-cascader{
    line-height: 35px;
}