
.rich-text-editor {
    position: relative;
    width: 100%;
    .rich-text-editor__custom-action {
        position: absolute;
        z-index: 2;
        right: 2px;
        top: 3px;
    }
    .custom-action__poptip__btn,.custom-action__dropdown__btn{
        background: transparent;
        color:#000;
        border: none;
        outline: transparent;
        &:hover{
            background-color: #dee0e2;
        }
        &.ivu-btn:focus {
            box-shadow: initial;
        }

    }
    .dropdown__menu__keyOperation{
        position: relative;
        padding: 0 5px;
        .span-content {
            position: relative;
            display: inline-block;
            width: 160px;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 2px 2px 2px 4px;
        }
        .icon-close {
            position: absolute;
            right: 3px;
            top: 3px;
        }
        &:hover{
            background-color: #108cee;
            color:#fff;
        }
    }
    .ivu-tabs-no-animation{
        height: 47px;
        
    } 
    .ivu-dropdown-item{
        padding: 0px;
    }
    .app-rich-text-editor,.app-rich-text-editor-0,.app-rich-text-editor-100 {
        .tox-fullscreen {
            height: 100%;
            transform: translateX(100%);
        }
        .tox-blocker {
            transform: translateX(100%);
        }
    }
    .app-rich-text-editor-200 {
        .tox-fullscreen {
            height: 100%;
            transform: translateX(200%);
        }
        .tox-blocker {
            transform: translateX(200%);
        }
    }
}

.tox-menu {
    min-width: 300px;
}

.app-rich-text-editor__select{
    width: 120px;
    max-height: 150px;
    position: absolute;
    padding: 10px;
    border: 1px solid #c1c6cc;
    background-color: #fff;
    z-index: 10000;
    overflow: auto;
    border-radius: 4px;
    .select__content{
        padding: 0;
        margin: 0;
        .row{
            line-height: 24px;
            list-style: none;
        }
        .row:hover{
            background: #eee;
        }
        .row.selectRow{
            background: #C9DBF2;
        }
    }
}

.tox-statusbar__text-container{
    display: none;
}