.app-control-drtab {
    justify-content: center;
    background: transparent;
    display: flex;
    border-radius: 4px;
    padding: 0;
    flex-direction: row;
    span.count {
        position: absolute;
        top: 0;
        font-size: 12px;
        right: 0;
        color: #fff;
        background: red;
        border-radius: 20px;
        padding: 0 5px;
    }
}
