.app-control-list {
    .app-control-list__content__list {
        background-color: inherit;
    }
    .list__sliding {
        margin-top: 10px;
    }
    .list__sliding__item {
        --border-color: white;
        --background-activated: white;
        --background: transparent;
        --inner-padding-end: 0;
        --padding-start: 0;
    }
}
.app-control-mobmdctrl__content__refresh{
    overflow: visible;
}
.app-control-list__select {
    width: 100%;
    .list__sliding__item {
        --padding-start: 20px;
        --inner-padding-end: 10px;
        --background-activated: #fff;
        border-bottom: 1px solid #e8e8e86b;
        background: #fff;
    }
}
