.app-control-panel {
  //  容器标题
  .app-control-panel__container__header {
    height: 38px;
    font-weight: 600;
    padding: 8px;
  }
  .app-control-panel__content{
    overflow: hidden;
  }
  //  分页下边距
  .van-tabs__wrap {
    padding: 10px 0;
    height: auto;
  }
}