.app-preset-loginmessage{
    margin-top: 3px;
    .app-alert{
        display: flex;
        align-items: center;
        background-color: rgb(255, 225, 225);
        .ivu-alert-icon{
            position: unset;
            margin-right: 5px;
        }
    }
    .ivu-alert-error,
    .ivu-alert-with-icon{
        padding-left: 10px;
    }
    .opacity{
        opacity: 0;
    }
}