.app-gantt{
    height: 100%;
    .gantt {
      height: 100%;
      .gantt-elastic__main-view-container {
        flex-grow: 1;
      }
    }
    .app-data-empty{
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
.view-default {
  .app-gantt {
    .gantt {
      .gantt-elastic__header .gantt-elastic__header-options button{
        margin: 0px;
        height: 32px;
      }
    }
  }
}