.app-list-index-text{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
  .app-list-index-text__box {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    border-radius: 4px;
  }
  .app-list-index-text_info {
    font-size: 15px;
    width: 86%;
  }
}