.app-mob-picker {
  width   : 100%;
  position: relative;

  .app-mob-picker__input {
    width: calc(100% - 20px);
  }

  ion-icon[name="close-outline"] {
    font-size: 20px !important;
  }

  .native-input[disabled].sc-ion-input-ios {
    opacity: 1;
  }

}