.app-upload-file-info {
  white-space  : nowrap;
  text-overflow: ellipsis;
  word-break   : break-all;
  overflow     : hidden;
  text-align   : left;

  .app-upload-file-info__item {
    display           : block;
    padding-left      : 4px;
    text-overflow     : ellipsis;
    -webkit-transition: color .3s;
    transition        : color .3s;
    white-space       : nowrap;
  }

  i {
    margin-right: 7px;
  }
}