.app-mob-menu-swiper-view {
    padding: 0;

    &__content {
        padding: 0;
    }

    .ion-slide {
        height: 200px;
        width : 100%;
    }

    img {
        height    : 200px;
        width     : 100%;
        object-fit: fill;
    }
}