.app-embed-view {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    .embed-view-content{
        height: 100%;
    }
    .embed-view-toolbar{
        display: flex;
        justify-content: flex-end;
    }
}