.app-mob-org-select {
  width          : 100%;
  width          : 100%;
  height         : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;

  .app-mob-org-select__value {
    height       : 100%;
    width        : 100%;
    text-align   : right;
    white-space  : nowrap;
    text-overflow: ellipsis;
    overflow     : hidden;
    padding-right: 20px;
  }

  .app-mob-org-select__icon {
    font-size: 18px;
    position : absolute;
    right    : 10px;
  }
}

.app-mob-org-select__value::before {
  display       : inline-block;
  content       : "";
  height        : 100%;
  vertical-align: middle;
}