.app-mob-span {
  width  : 100%;
  display: flex;

  .app-mob-span__input {
    overflow          : hidden;
    text-overflow     : ellipsis !important;
    word-wrap         : break-word;
    display           : -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    pointer-events    : none;

  }

  .app-mob-span__format__contaner {
    width  : 100%;
    padding: 10px 10px 10px 0;
  }
}