.app-form-druipart {
  width: 100%;
  // padding-top: @padding-xs;
  .app-form-druipart__header__text {
      font-size: 15px;
      padding: 0 0 0 20px;
  }
  .view-container2{
    position: relative;
    height: 100%;
  }
  .embed-view-content {
    height: calc(100% - 44px);
  }
}