.app-mob-datetime-picker {
  width: 100%;
  text-align: right;
  ion-datetime {
    padding-left: 0;
  }
  ion-icon {
    position: absolute;
  }
}

.picker-col {
  padding-inline-start: 5px;
  padding-inline-end: 0;
}
.picker-columns {
  .picker-col:nth-child(2) {
    padding-inline-start: 15px;
    padding-inline-end: 0;
  }
}
.datetime-disabled{
  opacity: 1;
}