.app-mob-button {
    margin         : 0;
    --border-radius: 4px;
    margin         : 5px;

    .button__image {
        width     : 35px;
        max-height: 35px;
        padding   : 5px;
    }

    .button__icon{
        font-size: 14px;
        padding  : 5px;
    }

    .button__text{
        font-size: 12px;
        padding  : 5px;
    }

    .button__content.vertical {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : column;
        font-size      : 14px;
        width          : 100%;
        height         : 100%;
        padding        : 5px;
    }

    .button__content.horizontal {
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size      : 14px;
        width          : 100%;
        height         : 100%;
        padding        : 5px;
    }
}

.text-button {
    --padding-start: 0;
    --padding-end  : 0;
    --background   : transparent;

    .button-content {
        padding: 0;
    }

    .button-text {
        padding: 0;
    }
}