.app-mob-input {
  display: flex;
  width  : 100%;

  .app-mob-input__unit {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding-right  : 6px;
    margin-left    : 6px;
  }

  .form-value-content {
    --padding-end: 5px !important;
    text-align   : right;
  }
}