.app-mob-textarea {
  width: 100%;
  text-align: right;
  .app-mob-textarea__content {
    --padding-end: 5px;

    div {
      min-height: 64px;
    }

    textarea {
      min-height: 64px;
    }

  }
}