.app-mobile-file-upload {
  width  : 100%;
  padding: 0;

  .app-mob-file-upload__filelist {
    margin-top: 10px;
  }

}

.app-mob-file-upload__item {
  font-size           : 14px;
  --inner-border-width: 0;
  height              : 38px;
  --padding-end       : 0;
  --inner-padding-end : 0;
  text-align          : right;
}

.app-mob-file-upload__icon {
  font-size    : 20px;
  padding-right: 3px;
}

.app-mob-file-upload__hiddenbutton {
  display: none;
}