.app-mob-menu-list-view {
  padding: 0;
  margin : 0;

  &__content {
    padding: 0;
  }

  .app-ps-sys-image {
    font-size: 1.3em;
    width    : 22px;
    height   : 22px;
  }

  ion-item:last-child {
    --inner-border-width: 0;
  }
}