.app-preset-smsverification{
    .content {
        display: flex;
        margin: 8px 0;
        align-items: center;
        > .app-mob-button{
            margin-left: 16px;
        }
    }
    .error {
        color: red;
    }
    ion-input{
        background: rgb(255 255 255);
    }
}