.app-async-message {
    height: 100%;
    width: 100%;
    .view-card {
        height: 100%;
    }
    .ivu-card-head {
        padding: 0;
        border: 0;
    }
    .ivu-card-body {
        height: calc(100% - 48px);
    }
    .app-async-message__content {
        padding: 8px;
        height: 100%;
    }
    .app-async-message__describe {
        overflow: hidden;
        padding: 0 8px;
        border-bottom: 1px solid #E4E4E4;
        .el-form-item__label {
            font-size: 14px;
            font-weight: 600;
        }
    }
    .app-async-message__list {
        height: calc(100% - 124px);
        overflow: auto;
        border: none;
    }
    .app-async-message__item {
        padding: 12px 16px;
        .avatar {
            margin-right: 16px;
            height: 40px;
            font-size: 20px;
            text-align: center;
            line-height: 40px;
            width: 40px;
            border-radius: 0;
        }
        .title {
            margin-bottom: 4px;
            color: #000000d9;
            font-size: 14px;
        }
        .info {
            color: #00000073;
            font-size: 14px;
            line-height: 1.5715;
        }
    }
    .ivu-list-footer {
        text-align: center;
        cursor: pointer;
    }
    .app-view-toolbar {
        column-gap: 4px;
    }
}