.app-preset-loginmessage{
    width: 100%;
    height: 100%;
    .alert{
        width: 100%;
        height: 100%;
        min-width: 34px;
        display: flex;
        align-items: center;
        border: 1px solid #ffd6cc;
        background-color: rgb(255, 225, 225);
        padding: 8px 48px 8px 10px;
        border-radius: 2px;
        color: #657180;
        font-size: 12px;
        margin-bottom: 10px;
        .icon{
            font-size: 4px;
            color: #f30;
            margin-right: 5px;
        }
    }
    .opacity{
        opacity: 0;
    }
}