.app-carouse{
    .ivu-carousel-dots{
        .radius{
            width: 10px;
            height: 10px;         
        }
        .ivu-carousel-active{
            width: 10px;
            height: 10px;
            .radius{
                width: 10px;
                height: 10px;
                background-color:rgb(51, 142, 217) ;           
            }
        } 
    }
    .ivu-carousel-item{
        overflow: hidden;
        .carousel-img-item{
            width: 100%;
            .app-carouse-img{
                margin-left: 50%;
                transform: translate(-50%);
            }
        }
    }
 
    
}
