.degridview4 {
    .view-content__body {
        display: flex;
        flex-direction: column;
    }
    .app-control-grid {
        flex: auto;
    }
    .app-vc-drtab__content {
        height: 100%;
        flex: auto;
    }
    .app-control-drtab {
        height: 40px;
    }
    .app-control-drtab__content {
        padding: 0;
    }
}