.appportalview {
    padding: 0;
    >.control-content {
        padding: 0;
    }
    // 嵌入模式
    &.view-container2 {
        .app-control-dashboard__parent {
            margin: 0;
        }
        .app-control-dashboard__item {
            padding: 0;
        }
    }
}