.deeditview4 {
    >.view-content>.view-content__body {
        .flex(column, center, stretch)
    }
    .app-vc-tab__content {
        height: 100%;
    }
    .app-control-drtab {
        height: 40px;
        padding: 0;
    }
    .app-control-drtab__content {
        padding: 0;
    }
    .view-container2 {
        height: calc(100% - 40px);
        overflow: auto; 
    }
}