.deredirectview {
    > .view-content > .view-content__body {
        width: 100%;
        .flex(column, center, center);
        .text {
            padding-top: 26px;
            margin-left: 1em;
            font-size: 24px;
            font-family: ui-monospace;
        }
    }
}