.deeditview2 {
    .app-vc-dabar {
        height: 100%;
    }
    .app-vc-dabar__left__caption {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        .hover-active;
    }
    .app-control-drbar {
        height: calc(100% - 40px);
        padding: 0;
    }
    .app-control-drbar__content {
        padding: 0;
    }
    .app-vc-dabar__content {
        width: 100%;
        height: 100%;
        padding: 0 4px;
        overflow: auto;
    }
}