.view-content__body__wfdynaeditview3tabs {
    height: 100%;
    > .ivu-tabs-bar {
        border-bottom: none;
    }
    .ivu-tabs-content {
        height: calc(100% - 52px);
        overflow-y: auto;
        > .ivu-tabs-tabpane {
            height: 100%;
            overflow: scroll;
        }
    }
}
