.app-preset-caption {
    padding: 8px;

    .caption-info {
        font-weight: 600;
        color: var(--view-font-color-bright);
        font-family: "Microsoft YaHei";
        font-size: 14px;
    }
}