   .app-third-login {
    text-align: center;
    .app-third-login-imgrwap {
        .sign-btn {
            .third-svg-container {
                margin: 0px;
                padding: 0px;
            }
        }
    }
}