// 应用壳
.app-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

// 应用头部
.app-header {
    .flex(row, space-between, center);
}

// 应用正文
.app-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .app-content__body{
        height: calc(100% - 50px);
        width: 100%;
    }
    .app-content__footer{
        width: 100%;
        height: 50px;
    }
}