.app-preset-smsverification{
    .content {
        display: flex;
        margin: 5px 0;
        .el-button {
            border: 1px solid #dcdee2;
            margin-left: 10px;
            color: #606266;
            background-color: #fff;
            &:hover {
                border: 1px solid #dcdee2;
            }
        }
    }
    .code{
        padding-top: 8px;
    }
    .error {
        color: red;
    }
}