.app-cur-org-dept{
    width: 100%;
    .org-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: solid 0.1px #dcdcdc;
        padding: 0.6rem 1.6rem;
        color: #333 ;
    }
    .org-item:active {
        background: #f5f5f5;
    }
    .org-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 10px;
    }
    .org-icon-small {
        width: 1rem;
        height: 1rem;
    }
    .org-title {
        font-weight: 550;
    }
    .org-item-left {
        display: flex;
        align-items: center;
    }
    .org-title-content{
        display: flex;
        align-items: center;
    }
    .van-checkbox-group{
        .van-checkbox{
            margin-top: 5px;
        }
        .van-button{
            background: transparent;
            color: #1989fa;
            width: auto;
            height: auto;
            padding: 0;
            border: none;
            padding: 0 5px;
        }
        .van-button:first-child{
            padding-left :0;
        }
    }

    .van-collapse-item__content {
        padding: 0;
    }
    .van-checkbox__icon {
        font-size: 15px;
    }
    .van-checkbox__icon--checked .van-icon {
        color: #1989fa;
        background-color: #fff;
        border-color: #1989fa;
    }
}