.tree-right-menu {
    overflow: visible !important;
    .ivu-divider-horizontal {
        width: 100%;
        min-width: 100%;
        margin: 0 auto;
    }
    .ivu-dropdown-item {
        position: relative;
        padding-left: 32px;
        > i {
            position: absolute;
            left: 16px;
            top: 10px;
        }
        .ivu-icon-ios-arrow-forward {
            left: initial;
            right: 4px;
        }
    }
    ul.ivu-dropdown-menu{     
        >span{ 
            padding-left: 16px;
        }
    }
    .ivu-select-dropdown {
        margin: 0;
        width: auto;
    }
}