.app-mob-auth-org-picker{
    .app-mob-dropdown-menu{
        .van-dropdown-menu__bar{
            box-shadow: none;
            border: 1px solid #dbdbdb;
        }
    }
    .van-dropdown-menu__item {
        justify-content: flex-start;
    }
    .van-dropdown-menu__title {
        width: 100%;
        &::after {
            position: absolute;
            right: 15px;
            border-width: 5px;
        }
    }
    .org-picker-title-no-data{
        text-align: center;
        color: #dbdbdb;
    }
}