.demobcalendarexpview {
    .app-vc-expbar {
        height : 100%;
        display: flex;
    }

    .app-vc-expbar__body {
        width : 50%;
        height: 100%;
    }

    .app-vc-expbar__left {
        width: 50%;
    }

    .app-control-calendar .app-control-calendar__content {
        overflow: inherit;
    }
    .app-control-calendarexpbar__content{
        overflow: hidden;
        .app-control-calendar{
            padding: 0;
        }
    }
}