.demobeditview3 {
    .app-vc-tab {
        height: 100%;
    }
    .app-vc-tab__header {
        padding: 10px;
        border-bottom: solid .5px;
    }
    .app-vc-tab__header__drtab {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        height: 30px;
    }
    .app-vc-tab__content {
        height: calc(100% - 50px);
        overflow: auto;
    }
    .app-vc-tab__content__form {
        height: 100%;
    }
    .view-content {
        height: 100%;
    }
    .drtab__item {
        text-align: center;
        padding: 5px 10px;
        font-size: 13px;
        color: #333;
        position: relative;
        background: transparent;
        border-radius: 4px;
    }
}
