.demoblistexpview {
    .app-vc-expbar{
        height: 100%;
        display: flex;
    }
    .app-vc-expbar__body {
        width: calc(100% - 80px);
        height: 100%;
    }
    .app-vc-expbar__left {
        width: 80px;
    }
}