/* Widgets */
input.srftimepicker		{ width:132px; border: 1px solid #999999; }
input.srfdatepicker		{ width:132px; border: 1px solid #999999; }
input.srfdatetimepicker  	{ width:132px;  border: 1px solid #999999; }
