
.app-auth-org-picker {
    height: 36px;
    width: inherit;
    .app-org-sector-remote {
        width: 100%;
        .org-sector-choice{
            background-color: #e6f7ff;
        }
    }
    .ivu-dropdown{
        width: inherit;
        position: relative;
        .ivu-select-dropdown{
            width: 100%;
        }
    }
    .auth-org-picker-dropdown{
        width: inherit;
        position: relative;
        border-radius: 5px;
        border: 1px solid gray;
        .ivu-select-dropdown{
            width: 100%;
        }
    }
}
.menu-item-no-data{
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #dbdbdb;
    padding: 5px 0;
}