.app-message-box {
    padding: 10vw 5vw;
    .header {
        text-align:center;
        line-height: 20px;
        height: auto;
        font-size: 20px;
        i {
            font-size: 20px;
            position: relative;
            top: 2px;
        }
    }

    .content{
        margin: 15px;
        min-width: 50vw;
        font-size: 15px;
    }

    .info {
        i {
            color: #2d8cf0;
        }
    }
    .success {
        i {
            color: #19be6b;
        }
    }
    .warning {
        i {
            color: #f90;
        }
    }
    .error {
        i {
            color: #ed4014;
        }
    }

    .footer-btns{
        display: flex;
        button{
          flex-grow: 1;
        }
    }

}
