.app-control-searchbar {
    .app-control-searchbar__footer {
        .flex(row, right, center);
        >.ivu-btn {
            margin-right: 4px;
        }
    }
}
.app-control-searchbar__popover {
    .popover__action {
        margin-top: 4px;
        .flex(row, right, center);
        >.ivu-btn {
            margin-right: 4px;
        }
    }
}