.app-control-tabexppanel__content {
    > .ivu-tabs-bar {
        height: 50px;
        margin-bottom: 0px;
        .ivu-tabs-tab  {
            height: 50px;
            line-height: 34px;
        }
    }
    > .ivu-tabs-content {
        height: 100%;
        .app-control-tabexppanel__tabpane {
            height: 100%;
        }
    }
}
