.app-control-panel {
    .app-control-panel__container__header {
        height: 38px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 6px;
        padding: 6px;
    }
    .app-control-panel__content {
        line-height: normal;
    }
    .app-control-panel__container__content {
        height: calc(100% - 44px);
    }
    .container-item__pos {
        >.app-button {
            margin: 0 6px;
            width: calc(100% - 12px);
        }
    }
    .el-tabs__header {
        margin: 0;
    }
    .panel-container__flex {
        display: flex;
        flex-direction: column;
    }
}