.app-control-expbar {
  .control-header {
    min-height: 48px;
    padding: 4px;
    margin: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
    .flex(row, space-between, center);
  }

  .control-header__left{
    padding: 0 4px;
  }

  .control-header__left__caption {
    font-size: 14px;
    font-weight: 600;

    >i,
    >img {
      margin-right: 8px;
    }
  }

  .control-header__right {
    flex-wrap: wrap;
    flex-shrink: 0;
    .flex(row, space-between, center);
    padding: 0 4px;
  }

  .control-header__right__quicksearch {
    width: 200px;
  }

  .control-content {
    height: 100%;
  }
}