.app-view-toolbar {
  .ivu-tooltip {

    // 徽章样式
    .el-badge {
      margin-right: 18px;
    }
  }

  //  间隔
  .ivu-button {
    margin-left: 4px;
  }
  //  分隔符
  .app-view-toolbar__seperator {
    margin: 0px 4px;
  }
  //  分隔符后的按钮
  .app-view-toolbar__seperator + .ivu-button {
    margin-left: 0px;
  }
}

.app-view-toolbar__transfer {
  padding: 10px 4px 10px 0;

  .ivu-dropdown-menu {
    .ivu-dropdown-item {
      padding: 0 20px;
      line-height: 36px;

      >span {
        >i {
          margin-right: 6px;
        }
      }
    }
  }
}

.app-view-toolbar--style2{
  display: flex;
  .app-view-toolbar__seperator {
    margin: 4px 0px 4px 4px;
  }
}