.app-mob-carouse {
    width: 100%;
    height: 100%;
    .app-van-swipe{
        width: 100%;
        height: 100%;
        .van-swipe-item{
            width: auto;
            height: auto;
            .app-carouse-img{
                height: 100%;
                width: 100%;
                i{
                   text-align: center;
                }
            }
        }
    }
    .van-swipe__indicator{
        background-color: gray;
    }
}